<form action="<%= @presigned_url.url %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input type="hidden" name="key" value="<%= @presigned_url.fields['key'] %>" /><br />
      <input type="hidden" name="X-Amz-Credential" value="<%= @presigned_url.fields['x-amz-credential'] %>" />
      <input type="hidden" name="X-Amz-Algorithm" value="<%= @presigned_url.fields['x-amz-algorithm'] %>" />
      <input type="hidden" name="X-Amz-Date" value="<%= @presigned_url.fields['x-amz-date'] %>" />
      <input type="hidden" name="success_action_status" value="<%= @presigned_url.fields['success_action_status'] %>" />
      <input type="hidden" name="Policy" value='<%= @presigned_url.fields['policy'] %>' />
      <input type="hidden" name="X-Amz-Signature" value="<%= @presigned_url.fields['x-amz-signature'] %>" />
      <input type="hidden" name="success_action_redirect"  value="<%= @presigned_url.fields['success_action_redirect'] %>" />
      <input type="hidden" name="acl"  value="public-read" />
      <div class="custom-file">
        <img id="fileImage" src="#" alt=""/>
        <label class="custom-file-label" for="file">File</label>
        <input type="file" class="custom-file-input" name="file" id="file" />
      </div>
    </div>
    <input class="btn btn-primary"  type="submit" name="submit" value="Upload to Amazon S3" />
</form>
