<p id="notice"><%= notice %></p>

<h1>S3 Photos</h1>

<table>
  <tbody>

  <%= link_to 'New Photo', new_post_photo_path %>
  <p>
  <form action="/rotatephoto">
    <select id="imageSelect" multiple="multiple" class="image-picker show-html" name="keys[]" >
      <% @objects.each do |object| %>
        <option value="<%= object.key %>"><%= object.key %></option>
      <% end %>
    </select>
    <p>
      <button type="submit" name="Rotation" >Rotate</button>
      <button type="submit" formaction="/deletephoto" name="Delete" >Delete</button>
      <button type="submit" formaction="/bluephoto" name="Blue" >Blue</button>
      <button type="submit" formaction="/flipphoto" name="Flip">Flip</button>
      <form action="/download">
        <button type="submit" name="Download" >Download</button>
      </form>
    </p>
  </form>
  -------------------------------------------------------------------------------------------------------
  </p>
    <% @objects.each do |object| %>
      <p>
        <p><%= object.key %></p>
        <img src='<%= @presigned_url.url + "/" + object.key %>' >
      </p>
    <% end %>
  </tbody>
</table>

<br>
